html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	font-size: 18px;
	color: #777;
	line-height: 34px;
	background-image: url('../images/p5.png');
	background-repeat: repeat;
	margin-bottom: 90px;
}

.connect, .well, .navbar-default, .panel-default>.panel-heading{
	background-color: #fff;
}

h2,
h3,
p.aboutText {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

.well {
	overflow: auto;
}

/*NAVIGATION CSS START*/
.navbar-header {
	border-bottom: 2px solid #cccccc;
}
.navbar {
	border: none;
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 70px;
}

.navbar-toggle .icon-bar {
	background-color: #777;
}
.navbar-brand{
	width: 300px;
	height: 90px;
	background: #4aaaa5;
}

.nav,.navbar-nav,.navbar-right {
	color: #4aaaa5;
	line-height: 90px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	background-color: #4aaaa5;
}

/*NAVIGATION CSS END*/

.main-container {
	margin-top: 40px;
}

.well {
	padding: 15px;
}

#myPic {
	width: 200px;
	height: auto;
}

.connect img {
	width: 62px;
	height: auto;
}

/*PORTFOLIO IMAGES CSS*/
a:hover {
	text-decoration: none;
}

.portfolioImg {
	width: 100%;
	height: 207px;
	margin-bottom: 30px;
}

h4 {
	position: relative;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-weight: 300;
	background: #4aaaa5;
	top: 65%;
	height: 60px;
	line-height: 60px;
}

#cat, #food, #nature, #nightlife, #abstract {
		background-size: 100% auto, cover;
	}

#cat{
	background-image: url('../images/cat.jpg');
}

#food {
	background-image: url('../images/food.jpg');
}

#nature {
	background-image: url('../images/nature.jpg');
}

#nightlife {
	background-image: url('../images/nightlife.jpg');
}

#abstract {
	background-image: url('../images/abstract.jpg');
}
/*PORTFOLIO IMAGES CSS END*/

/*CONTACT FORM CSS STARTS HERE*/
input {
	color: #777777;
	font-size: 14px;
	margin-bottom: 10px;
	outline: 0;
}

::-webkit-input-placeholder {
	color: #cccccc;
}

textarea {
	border: 1px solid #dddddd;
	width: 100%;
  	height: 200px;
  	margin-bottom: 10px;
  	outline: 0;
  	color: #777777;
  	font-size: 14px;
}

.formText {
	padding-bottom: 5px;
}

.btn-default {
    background-color: #4aaaa5;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 120px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #777777;
    color: #fff;
}
/*CONTACT FORM CSS STOPS HERE*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}